@font-face {
    font-family: 'Helvetica Neue Cyr Medium';
    src: url('HelveticaNeueCyr-Medium.eot');
    src: url('HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Medium.woff') format('woff'),
    url('HelveticaNeueCyr-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue Cyr Light';
    src: url('HelveticaNeueCyr-Light.eot');
    src: url('HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeueCyr-Light.woff') format('woff'),
    url('HelveticaNeueCyr-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style: none;
}

body {
    font-size: 15px;
}

.text-header, .list {
    line-height: 1.5;
    font-family: "Helvetica Neue Cyr light";
}

.header ul {
    list-style-image: url(image/check_mark.png);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

li {
    padding-top: 20px;
}

img {
    max-width: 100%;
}

.header {
    margin-top: 124px;
}

.title-block {
    margin-top: 23px;
    margin-bottom: 47px;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

.services, .title-block, .title_testimonials {
    color: #2c3c53;
    font-family: Athena;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
}

.services {
    padding-left: 5%;
    margin-top: 115px;
    margin-bottom: 25px;
}

.base {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

.base-title {
    color: #1271f1;
    font-size: 25px;
    width: 19%;
    padding-top: 40px;
    padding-bottom: 27px;
    margin-bottom: 21px;
    background: url(image/1.png) no-repeat center;
}

.base-text {
    font-family: "Helvetica Neue Cyr light";
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

.background-image {
    background: #f6f6f6;
    position: absolute;
    left: -300px;
    width: 1000px;
    height: 450px;
    z-index: -10;
    transform: skewX(-7deg);
}

.base-text-bolt {
    font-family: "Helvetica Neue Cyr - Medium";
    padding-top: 15px;
    padding-bottom: 15px;
}

.title_testimonials {
    text-align: center;
    margin-bottom: 81px;
    margin-top: 125px;
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Helvetica Neue Cyr light";
    text-align: center;
}

.wrap {
    display: flex;
    flex-direction: column;
}

.name_people {
    margin-top: 25px;
    margin-bottom: 25px;
}

.text-testimonials {
    margin-top: 33px;
    line-height: 1.5;
}

.name {
    font-family: "Helvetica Neue Cyr - Medium";
}

.footer {
    background-color: #2c3d53;
    margin-top: 7%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.level {
    margin-left: 10%;
    margin-right: 10%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #2c3d53;
    font-size: 15px;
    color: #ffffff;
    border-bottom-color: #3a495c;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-collapse: collapse;
    padding-bottom: 1%;
}

.element:hover, button:hover, button1:hover {
    color: red;
}

.el, .el5 {
    padding-right: 6%;
}

.el2 {
    color: #1271f1;
}

.footer-logo {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button {
    background-color: #4366bc;
    color: #ffffff;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.facebook_logo {
    padding-right: 10px;
}

.button1 {
    background-color: #2c3d53;
    color: #ffffff;
    font-size: 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 32px;
}

.support-img {
    padding-right: 10px;
}

.level-1 {
    padding-top: 1%;
    margin-left: 10%;
    margin-right: 10%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: #767c85;
    font-size: 14px;
}

.logo-cont {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.el-2 {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.elem-3 {
    color: #ffffff;;
}

.container-pagination {
    margin-top: 40px;
}

.pagination {
    display: flex;
    justify-content: center;
    font-size: 28px;
    li {
        border-left: 1px solid #3a495c;
        border-right: 1px solid #3a495c;
        margin: 0;
        padding: 0;
        transform: skewX(-15deg);
        &:not(:last-of-type) {
            margin-right: -1px;
        }
    }
}

.pagination-item {
    padding-left: 15px;
    padding-right: 15px;
    transform: skew(15deg);
    font-size: 20px;
}

.arrow {
    width: 42px;
    height: 11px;
    background: url(image/arrow-path.png) center no-repeat;
}

.arrow-path {
    width: 42px;
    height: 11px;
    background: url(image/arrow.png) center no-repeat;
}


